.App {
  text-align: center;
}

h1 {
  font-family: "Notable", sans-serif;
  margin: 35px auto;
}

.searchbar {
  margin: 0 0 35px 0;
}

.people_list {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.person {
  border: 2px solid grey;
  height: 250px;
}
